html {
  background-color: #bbb;
}

.panel {
  margin: auto;
  text-align: center;
  padding: 10px;
  width: 600px;
  background-color: #EEE;
}

.wrapper {
  display: grid;
  width: 600px;
  height: 600px;
  margin: 10px auto;
  background-color: #eee;
}

.box {
  cursor:crosshair;
  background-color: #eee;
  border: 1px solid #bbb;
}
